.change-name-form {
    padding: 20px 15px 55px 15px;

    > h4 {
        color: $primary;
        font-size: 22px;
    }

    > form {
        text-align: center;

        .submit {
            padding: 12px 60px;
        }

        button {
            float: right;

            @media only screen and (max-width: 767px) {

                width: 100%;
            }
        }
    }
}