.payment {
    padding: 10px;
  
    .title {
      width: max-content;
      background-color: $background-dark-absolute;
      color: $font-light;
      padding: 5px 10px;
      border-radius: 5px 5px 0 0;
    }
  
    .data {
      background-color: $background-light;
      box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
      padding: 15px;
    }

    .payment-info {
      text-align: center;
      border-radius: 0;
      width: 100%;
      background-color: $primary;
      color: $font-light;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      padding: 5px 10px;
    }
  }

  @media only screen and (max-width: 767px) {
    .form-payment {
      width: 100% !important;
    }
  }