.login-form {
    .actions {
        justify-content: space-between !important;

        .ui.basic.button {
            margin: 0;
        }

        .ui.button.submit {
            margin-right: 10px !important;
        }
    }
}

@media only screen and (max-width: 767px) {

    .actions {
        display: block !important;
    }

    .ui.button, .ui.button.submit {
        display: block !important;
        width: 100% !important;
        margin-top: 8px !important;
    }

}



