.menu {
    background-color: $background-gray-dark;
    border-radius: 0;

    .ui.grid {
        margin: 0 !important;
    }

    &__left,
    &__right {
        padding: 0% !important;
        display: flex !important;
        align-items: center;

        .ui.menu {
            border: 0%;
            box-shadow: none;
            height: 100% !important;
            background: transparent;
    
            .icon {
                margin-right: 10px !important;
                color: $primary;
            }
    
            .item {
                color: $font-light;
                border-radius: 0 !important;
                margin-top: -1px !important;
    
                &:hover {
                    color: $font-light;
                    background-color: $background-dark-absolute;
    
                    &:before {
                        background-color: $background-dark-absolute;
                    }
                }
    
                &.m-0 i {
                    margin: 0 !important;
                }

                @media only screen and (max-width: 767px) {
                    i {
                        margin: 0 !important;
                        font-size: 14px;
                    }
                    padding: 10px;
                }
            }

            .menu-item-text {
                @media only screen and (max-width: 767px) {
                  display: none;
                }
            }

            .category-text {
                @media only screen and (max-width: 767px) {
                    display: none !important;
                }
            }
        }
    }

    &__right {
        display: flex;
        justify-content: flex-end;
    }

}

@media only screen and (max-width: 767px) {
    .miCuentaLabel {
        margin-left: 9px !important;
    }
}


