 .basic-layout {
    min-height: 100vh;
    background-image: url("https://res.cloudinary.com/dcnlp5ojh/image/upload/v1667150816/ecommerce-games/bg_web_e08350adef.jpg");
    background-size: cover;
    background-position: center;

    .content {
        background-color: $background-gray-light;
        height: calc(100vh - 130px);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }
} 

@media only screen and (max-width: 767px) {
    .ui.fluid.container {
        width: 100% !important;
        margin-left: 0 !important; 
        margin-right: 0 !important; 
    }
}


     