.list-games {
  &__game {
    padding: 15px;
    &:hover {
      opacity: 0.9;
    }

    img {
      width: 100%;
    }

    h2 {
      text-align: center;
      margin-top: 5px;
      font-size: 15px;
      color: $font-gray;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 0 10px;
    }

    &-add-cart {
      margin-top: 8px;
    }

    &-poster {
      position: relative;

      &-info {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        box-shadow: inset 0 -43px 15ox -22px rgba(0, 0, 0, 0.75);
        height: 50px;

        .discount {
          background-color: $success;
          color: $font-light;
          font-size: 13px;
          padding: 1px 6px;
        }

        .price {
          color: $font-light;
          background-color: $background-dark;
          padding: 1px 6px;
          font-size: 14px;
        }
      }
    }
  }
}

.add-cart {
  width: 100%;

  background: $primary !important;

  &__text {
    color: $font-light;
  }

  &__icon {
    margin-left: 5px !important;
    color: $font-light;
  }
}

.list-games__game-poster img.ui.image {
  min-height: 260px !important;
}


@media only screen and (max-width: 767px) {

  .ui.button.add-cart {
      font-size: 12px;
  }

  .list-games__game-poster img.ui.image {
    min-height: 180px !important;
  }
  
}